* {
    font-family: Verdana, Geneva, sans-serif
}

.ColorSetMain:active {
    color: #00F /*!mfh*/
}

.ColorSetMain:disabled {
    color: #888 /*!mfd*/
}

.ColorSetMain {
    color: #000 /*!mfn*/
}

.ColorSetBar:active {
    color: #FFF /*!bfh*/
}

.ColorSetBar:disabled {
    color: #888 /*!bfd*/
}

.ColorSetBar {
    color: #FFF /*!bfn*/
}

.ColorSetAccent:active {
    color: #FFF /*!afh*/
}

.ColorSetAccent:disabled {
    color: #888 /*!afd*/
}

.ColorSetAccent {
    color: #FFF /*!afn*/
}

.ColorSetDanger:active {
    color: #FFF /*!dfh*/
}

.ColorSetDanger:disabled {
    color: #888 /*!dfd*/
}

.ColorSetDanger {
    color: #FFF /*!dfn*/
}

p.TinyText {
    font-size: 70%;
}

p.ImportanceLow, h4.ImportanceLow, h1.ImportanceLow {
    opacity: .5
}

p.ImportanceDanger, h4.ImportanceDanger, h1.ImportanceDanger {
    color: #F00 /*!dfn*/
}

button.ImportanceLow {
    color: #000 /*!mfn*/;
    background-color: transparent;
    border-width: 0;
    box-shadow: none;
    transition: background-color .25s
}

button.ImportanceLow:active:hover {
    color: #00F /*!mfh*/;
    background-color: rgba(0, 0, 0, .2);
    box-shadow: none;
}

button.ImportanceLow:hover {
    color: #00F /*!mfh*/;
    background-color: rgba(0, 0, 0, .1);
    box-shadow: none;
}

button {
    border-width: 0;
    box-shadow: 0 0 2px rgba(0, 0, 0, .12), 0 2px 2px rgba(0, 0, 0, .2);
    transition: box-shadow .25s
}

button:active:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23);
}

button:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23);
}

button.ImportanceNormal {
    background-color: #00F /*!bbn*/;
}

button.ImportanceHigh {
    background-color: #F0F /*!abn*/;
}

button.ImportanceDanger {
    background-color: #F00 /*!dbn*/;
}

button.ImportanceLow.ImageFocused {
}

button.ImportanceNormal.ImageFocused {
}

button.ImportanceHigh.ImageFocused {
}

button.ImportanceDanger.ImageFocused {
}

div.card {
    box-shadow: 0 1px 3px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23);
}

select {
}

option {
    background-color: transparent
}

img {
}

textarea, input, select {
    border-width: 0;
    border-color: #888 /*!mfd*/;
    border-bottom-width: 1px;
    transition: border-bottom-width .25s, border-color .25s
}

textarea:hover, input:hover, select:hover, textarea:focus, input:focus, select:focus {
    border-bottom-width: 2px;
    border-color: #00F /*!bbn*/;
}

input[type="password"] {
}

input[type="url"] {
}

input[type="email"] {
}

input[type="tel"] {
}

input[type="text"] {
}

input[type="number"] {
}

input[type="date"] {
}

input[type="time"] {
}

input[type="range"] {
}

input[type="checkbox"] {
}